@use 'src/assets/style/colors';
@use 'src/assets/style/fonts';
@use 'src/assets/style/layouts';

:host {
  @extend %flex-space-between;

  align-items: flex-start;
  background-color: colors.$secondary-color;
  height: 224px;
  position: fixed;
  width: 100%;
}

.subcategories-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  height: 100%;
  padding: 12px 0;

  .subcategory {
    color: colors.$primary-color;
    font-family: fonts.$font-rubik;
    font-size: 20px;
    font-weight: 400;
    margin: 0 32px 20px;

    &:hover {
      text-decoration: underline;
    }
  }
}

img {
  height: 100%;
}
