@use 'src/assets/style/colors';
@use 'src/assets/style/fonts';
@use 'src/assets/style/layouts';

:host {
  @extend %flex-align-center;

  flex-direction: column;
  font-family: fonts.$font-rubik;
  margin-top: 24px;
  text-align: center;
  width: 100%;
}

img {
  height: 48px;
  width: 48px;
  margin-bottom: 16px;
}

.title {
  color: colors.$primary-color-strong;
  font-family: fonts.$font-rubik;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 12px;
}

.subtitle {
  color: colors.$primary-color-light;
  font-family: fonts.$font-rubik;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 32px;
}

app-button {
  max-width: 160px;
  width: 100%;
}
