@use 'src/assets/style/layouts';

:host {
  display: flex;

  flex-direction: column;
  width: 100%;
}

.page-title {
  margin-bottom: 32px;
}

app-filter-bar {
  margin: 0 16px 56px;
}

.products-wrapper {
  display: flex;
  flex-flow: row wrap;

  app-product {
    width: 25%;
  }
}
