@use 'src/assets/style/colors';
@use 'src/assets/style/layouts';

:host {
  display: flex;

  flex-direction: column;
  width: 100%;
}

.page-title {
  margin-bottom: 16px;
}

app-breadcrumbs {
  margin-bottom: 24px;
}

app-filter-bar {
  margin: 0 16px 56px;
  width: 100%;
}

.mobile-filter-dialog {
  @extend %flex-center;

  margin: 0 0 40px;

  app-button {
    --button-border: 1px solid;

    width: 104px;
  }

  .fa-filter {
    color: colors.$grey-color-strong;
    margin-inline-start: 8px;
  }
}
