<span class="page-title">{{ getTitle() | titlecase }}</span>

<app-breadcrumbs [category]="category" [subcategory]="subcategory"></app-breadcrumbs>

<app-filter-bar
  [category]="category"
  [subcategory]="subcategory"
  [colors]="colors"
  [sizes]="sizes"
  [categoryOptions]="categoryOptions"
  [subcategoryOptions]="subcategoryOptions"
  [colorOptions]="colorOptions"
  [sizeOptions]="sizeOptions"
  (categorySelected)="onCategorySelect($event)"
  (subcategorySelected)="onSubcategorySelect($event)"
  (colorSelected)="onColorSelect($event)"
  (sizeSelected)="onSizeSelect($event)"
></app-filter-bar>

<div class="products-wrapper">
  <app-product
    *ngFor="let product of products"
    [title]="product.title"
    [colorsWithImages]="product.colorsWithImages"
    [price]="product.price"
    [previousPrice]="product.previousPrice"
    [defaultColorIndex]="product.defaultColorIndex"
    [imgHeight]="imgHeight"
    [showHeart]="true"
    [isFavorite]="isFavorite(product.id)"
    (productClicked)="onProductClick(product.id, $event)"
    (heartClicked)="onHeartClick(product, $event)"
  ></app-product>
</div>
