@use 'src/assets/style/colors';

:host {
  display: flex;
  flex-direction: column;
}

app-edit-home-page {
  border-bottom: 1px solid colors.$separator-color;
  padding-bottom: 32px;
  margin-bottom: 32px;
}
