:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

img {
  margin-bottom: 32px;
  max-height: 240px;
  max-width: 240px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 560px;

  app-select,
  app-text-field {
    flex: 1;
    margin-bottom: 24px;
  }

  .fields-wrapper {
    display: flex;

    app-text-field:first-child,
    app-select:first-child {
      margin-inline-end: 16px;
    }
  }

  .buttons-wrapper {
    display: flex;
    margin-top: 32px;

    app-button:first-child {
      margin-inline-end: 16px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .fields-wrapper {
    flex-direction: column;
  }
}
