@use 'src/assets/style/colors';
@use 'src/assets/style/fonts';
@use 'src/assets/style/z-indexes';

:host {
  height: 20px;
  width: 20px;
}

.color-wrapper {
  border: 1px solid colors.$grey-color-light;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: inherit;
  justify-content: center;
  margin-inline-end: 6px;
  padding: 2px;
  position: relative;
  width: inherit;

  .color {
    height: 100%;
    width: 100%;
  }

  &.selected {
    border-color: colors.$primary-color-strong;
  }

  .color-name {
    background-color: colors.$primary-color;
    border-radius: 6px;
    box-sizing: border-box;
    color: colors.$secondary-color;
    font-family: fonts.$font-rubik;
    font-size: 14px;
    font-weight: 400;
    opacity: 0;
    padding: 6px 8px;
    position: absolute;
    top: 24px;
    transition: 0.1s opacity ease-in;
    user-select: none;
    visibility: hidden;
    z-index: z-indexes.$tooltip-z-index;
  }

  &:hover .color-name {
    opacity: 1;
    user-select: unset;
    visibility: visible;
  }
}
