@use 'src/assets/style/colors';
@use 'src/assets/style/fonts';
@use 'src/assets/style/layouts';

:host {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  width: 100%;
}

.product-section {
  @extend %flex-space-between;

  align-items: flex-start;
  margin-bottom: 92px;
}

.section {
  border-bottom: 1px solid colors.$separator-color;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  padding-bottom: 24px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  font-family: fonts.$font-rubik;
  font-weight: 400;
  padding-inline-end: 48px;

  .go-back {
    color: colors.$primary-color;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.4px;
    line-height: 16px;
    margin-bottom: 24px;
    text-decoration: underline;
  }

  .title {
    color: colors.$primary-color;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .subtitle {
    color: colors.$primary-color-light;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 36px;
    max-width: 334px;
  }

  .price-wrapper {
    align-items: baseline;
    display: flex;

    app-price {
      font-size: 24px;
    }

    .discount {
      color: colors.$sale-color;
      font-size: 16px;
      margin-inline-start: 8px;
    }
  }

  .selected-color,
  .selected-size,
  .quantity-title {
    color: colors.$primary-color;
    font-size: 16px;
    margin-bottom: 12px;
  }

  .size-error {
    color: colors.$warning-color;
    margin-inline-start: 24px;
  }

  .colors-wrapper,
  .sizes-wrapper {
    @extend %flex-align-center;

    margin-bottom: 24px;
  }

  app-color {
    height: 32px;
    margin-inline-end: 8px;
    width: 32px;
  }

  app-size {
    margin-inline-end: 8px;
  }

  .buttons-section {
    @extend %flex-align-center;

    app-button {
      margin-inline-end: 12px;
    }
  }
}

.more-to-love-wrapper {
  display: flex;
  flex-direction: column;

  .title {
    color: colors.$primary-color;
    font-family: fonts.$font-rubik;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 32px;
  }

  app-products {
    margin-inline-start: -16px;
  }
}

@media only screen and (max-width: 998px) {
  app-product-images {
    width: 332px;
  }
}

@media only screen and (max-width: 760px) {
  :host {
    align-items: center;
    margin-top: 16px;
  }

  .product-section {
    flex-direction: column-reverse;
    max-width: 600px;
    width: 100%;

    .content-wrapper {
      align-items: center;
      justify-content: center;
      padding-inline-end: unset;
      text-align: center;
      width: 100%;

      .go-back {
        margin-bottom: 12px;
      }

      .section {
        align-items: center;
        width: 100%;
      }
    }

    app-product-images {
      margin-bottom: 24px;
      width: 100%;
    }
  }

  .more-to-love-wrapper {
    align-items: center;

    app-products {
      margin-inline-start: unset;
    }
  }
}

@media only screen and (max-width: 500px) {
  .content-wrapper {
    .title,
    app-price {
      font-size: 20px;
    }

    .subtitle {
      margin-bottom: 24px;
    }
  }

  .buttons-section {
    flex-direction: column-reverse;
    max-width: 420px;
    width: 100%;

    app-button {
      margin-inline-end: unset;
      margin-bottom: 12px;
    }
  }
}
