@use 'src/assets/style/layouts';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer {
  @extend %flex-space-between;

  margin: 54px 0 32px;

  .buttons-wrapper {
    display: flex;

    app-button:first-child {
      margin-inline-end: 8px;
    }
  }
}
