@use 'src/assets/style/colors';
@use 'src/assets/style/fonts';
@use 'src/assets/style/layouts';

html,
body {
  height: 100%;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: unset;
}

.page-title {
  color: colors.$primary-color;
  font-family: fonts.$font-montserrat;
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 54px;
  text-align: center;
}

.with-backup {
  background-color: colors.$primary-color-strong;
  background-image: url('assets/images/icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

@media only screen and (max-width: 500px) {
  .page-title {
    font-size: 36px;
    margin-bottom: 32px;
  }
}
