@use 'src/assets/style/colors';
@use 'src/assets/style/fonts';
@use 'src/assets/style/layouts';

:host {
  display: block;
  width: inherit;
}

button {
  @extend %flex-center;

  background-color: inherit;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: fonts.$font-montserrat;
  font-weight: 500;
  min-width: 48px;
  outline: none;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  width: inherit;

  &.primary {
    background-color: colors.$bg-purple-light;
    color: colors.$primary-color-strong;

    &:hover,
    &:focus {
      background-color: colors.$bg-purple;
    }

    &:active {
      background-color: colors.$bg-purple-strong;
    }
  }

  &.secondary {
    background-color: colors.$secondary-color;
    border: 2px solid colors.$primary-color;
    color: colors.$primary-color;

    &:hover,
    &:focus {
      background-color: colors.$secondary-color-strong;
    }

    &:active {
      background-color: colors.$separator-color;
    }
  }

  &.md {
    border-radius: 8px;
    font-size: 14px;
    height: 36px;
    line-height: 24px;
    padding: 0px 16px;
  }

  &.lg {
    border-radius: 14px;
    font-size: 16px;
    height: 42px;
    line-height: 24px;
    padding: 0px 20px;
  }

  &:disabled {
    background-color: colors.$grey-color-light;
    color: colors.$grey-color-strong;
    cursor: unset;

    &:hover,
    &:focus,
    &:active {
      background-color: colors.$grey-color-light;
    }
  }
}
