@use 'src/assets/style/layouts';

:host {
  @extend %flex-align-center;

  flex-direction: column;
  width: 100%;
}

.products-wrapper {
  display: flex;
  flex-flow: row wrap;

  app-product {
    width: 25%;
  }
}
