<span class="title">Favorites</span>

<div class="products-wrapper">
  <app-product
    *ngFor="let product of favoriteProducts"
    [title]="product.title"
    [colorsWithImages]="product.colorsWithImages"
    [price]="product.price"
    [previousPrice]="product.previousPrice"
    [defaultColorIndex]="product.defaultColorIndex"
    [imgHeight]="imgHeight"
    [showTrash]="true"
    (productClicked)="onProductClick(product.id, $event)"
    (trashClicked)="onTrashClick(product.id)"
  ></app-product>
</div>
