<div *ngIf="isScrolled" class="header-sticky-background"></div>
<div class="header" [ngClass]="{ sticky: isScrolled }">
  <div class="logo-wrapper">
    <a class="logo" [routerLink]="getHomeLink()" routerLinkActive="is-active">BG Fashion</a>
  </div>

  <div class="pages-wrapper" (click)="hideHeaderMenu()" (mouseleave)="hideHeaderMenu()">
    <a
      *ngFor="let page of pages"
      class="page"
      (mouseenter)="showHeaderMenu(page)"
      [routerLink]="getLink(page.category)"
      routerLinkActive="is-active"
    >
      {{ page.category | titlecase }}
    </a>
    <app-header-menu
      [@menuAnimation]
      *ngIf="currentHoveredPage?.menuCategories?.length"
      [category]="currentHoveredPage.category"
      [subcategories]="currentHoveredPage.menuCategories"
      [imageUrl]="currentHoveredPage.menuImageUrl"
    ></app-header-menu>
  </div>

  <div class="cart-wrapper">
    <a [routerLink]="getFavoritesLink()" routerLinkActive="is-active">
      <i class="fas fa-heart"></i>
      <app-counter *ngIf="getFavoriteProductsCount()" [count]="getFavoriteProductsCount()"></app-counter>
    </a>
    <a [routerLink]="getCartLink()" routerLinkActive="is-active">
      <i class="fas fa-shopping-cart"></i>
      <app-counter *ngIf="getCartProductsCount()" [count]="getCartProductsCount()"></app-counter>
    </a>
  </div>
</div>

<div *ngIf="currentHoveredPage?.menuCategories?.length" class="black-overlay"></div>
