@use 'src/assets/style/colors';
@use 'src/assets/style/fonts';
@use 'src/assets/style/layouts';

@mixin input-common {
  background-color: colors.$secondary-color-strong;
  border-radius: 4px;
  border: 2px solid transparent;
  box-sizing: border-box;
  color: colors.$primary-color;
  font-family: fonts.$font-rubik;
  font-size: 16px;

  outline: none;
  transition: 0.2s border-color ease-in;

  &:focus-within {
    border: 2px solid colors.$bg-purple-strong;
  }

  &::placeholder {
    color: colors.$grey-color-strong;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    color: colors.$primary-color;
    font-family: fonts.$font-rubik;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 6px;
  }

  input,
  textarea {
    @include input-common();

    height: 48px;
    padding: 0 12px;
  }

  textarea {
    @include input-common();

    height: 160px;
    padding: 12px;
    resize: none;
  }

  &.error {
    label {
      color: colors.$warning-color;
    }

    input,
    textarea {
      border: 2px solid colors.$warning-color;
    }
  }
}
