@use 'src/assets/style/colors';
@use 'src/assets/style/fonts';
@use 'src/assets/style/layouts';
@use 'src/assets/style/z-indexes';

:host {
  @extend %flex-center;

  bottom: 24px;
  height: 48px;
  min-width: 64px;
  position: absolute;
  right: 24px;
  z-index: z-indexes.$snackbar-z-index;
}

.snackbar {
  background-color: colors.$bg-purple-dark;
  border-radius: 4px;
  box-sizing: border-box;
  color: colors.$secondary-color;
  font-family: fonts.$font-rubik;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  padding: 16px;
}

:host-context([dir='rtl']) {
  .circle-wrapper {
    left: 24px;
    right: unset;
  }
}
